@font-face {
  font-family: 'BookEnds'; 
  src: url('./src/Book+Ends.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Sketch'; 
  src: url('./src/Book+Ends.ttf');
  font-weight: normal;
}

body {
    background-color: #0C0A09;
}

#navBar{
    background-color: #201914;
}

#banner {
    size: 50%;

}
#title {
    color: #EA8E09;
    font-family: "BookEnds";
    font-size: 100px;
}