@font-face {
  font-family: 'BookEnds'; 
  src: url('./src/Book+Ends.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Sketch'; 
  src: url('./src/Sketchbook\ Paper.ttf');

}

@font-face {
  font-family: 'DarkBook'; 
  src: url('./src/DarkBookDemoRegular.ttf');

}

body {
    background-color: #0C0A09;
}

#navBar{
    background-color: #201914;
    padding: 15px;
    backdrop-filter: blur(10px); 
}

#banner {
    size: 50%;

}
#title {
    color: #ffb651;
    font-family: "DarkBook";
    font-size: 100px;
    text-shadow: 0 0 40px #ac6400;
    text-align: center; 
}

